<div>&nbsp;</div>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">OLA</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ><a ng-click="goHome()">Home</a></li>
                        <li class="active"><a>Account<span class="sr-only">(current)</span></a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <div class="row" >
        <div class="panel panel-default">
            <div class="panel-body">Funds: {{funds}}</div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Brought books</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Author
                        </th>
                        <th>Title
                        </th>
                        <th>Pages
                        </th>
                        <th>Publication
                        </th>
                        <th>Release_year
                        </th>
                        <th>Quantity
                        </th>
                        <th>Genre
                        </th>
                        <th>Delete
                        </th>
                    </tr>
                    <tr ng-repeat="boughtBook in boughtBooks" ng-model="boughtBooks">
                        <td>
                            {{boughtBook.author}}
                        </td>
                        <td>
                            {{boughtBook.title}}
                        </td>
                        <td>
                            {{boughtBook.pages}}
                        </td>
                        <td>
                            {{boughtBook.publication}}
                        </td>
                        <td>
                            {{boughtBook.release_year}}
                        </td>
                        <td>
                            {{boughtBook.quantity}}
                        </td>
                        <td>
                            {{boughtBook.genre}}
                        </td>
                        <td>
                            <input type="button" value="Remove" class="btn btn-primary" ng-click="removeBook(boughtBook.catalogid)"/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Borrowed books</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Author
                        </th>
                        <th>Title
                        </th>
                        <th>Pages
                        </th>
                        <th>Publication
                        </th>
                        <th>Release_year
                        </th>
                        <th>Quantity
                        </th>
                        <th>Genre
                        </th>
                        <th>Expiring time
                        </th>
                        <th>Return
                        </th>
                    </tr>
                    <tr ng-repeat="borrowBook in borrowBooks" ng-model="borrowBooks">
                        <td>
                            {{borrowBook.author}}
                        </td>
                        <td>
                            {{borrowBook.title}}
                        </td>
                        <td>
                            {{borrowBook.pages}}
                        </td>
                        <td>
                            {{borrowBook.publication}}
                        </td>
                        <td>
                            {{borrowBook.release_year}}
                        </td>
                        <td>
                            {{borrowBook.quantity}}
                        </td>
                        <td>
                            {{borrowBook.genre}}
                        </td>
                        <td>
                            {{borrowBook.endtime}}
                        </td>
                        <td>
                            <input type="button" value="Return" class="btn btn-primary" ng-click="returnBook(borrowBook.catalogid)"/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>