
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">OLA</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a>Home <span class="sr-only">(current)</span></a></li>
                            <li><a ng-click="goAccount()">Account</a></li>
                            <li><a ng-click="logout()">Log Out</a></li>
                        </ul>

                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search" required ng-model="query">
                            </div>
                            <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
                        </form>

                        <form class="navbar-form navbar-left">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Filter
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li align="center">
                                        <span>Author:
                                            <input type="checkbox" name="author" ng-model="author">
                                        </span>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li align="center">
                                        <span>Title:
                                            <input type="checkbox" name="title" ng-model="title">
                                        </span>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li align="center">
                                        <span>Genre:
                                            <input type="checkbox" name="genre" ng-model="genre">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </form>


                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="cartBook in cartBooks" ng-model="cartBooks">
                                        {{cartBook.title}}, {{cartBook.name}} &nbsp;&nbsp;&nbsp; {{cartBook.quantity}} x {{cartBook.price}} LEI
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><div><p class="alignleft">Total</p><p class="alignright">{{total}}</p></div></li>
                                    <li role="separator" class="divider"></li>
                                    <li align="center">
                                        <button class="btn btn-default" ng-click="finalize()">Finalize</button>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li align="center">
                                        <button class="btn btn-default" ng-click="resetCart()">Reset Cart</button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <div class="row">
            <div class="alert alert-danger" style="display: none" id="myAlert">
                <a class="close" onclick="$('#myAlert').hide()">×</a>
                <strong>Warning!</strong> Check one filter!
            </div>
        </div>
        <div class="row">
            <div class="alert alert-warning" id="alertOrder">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Warning! </strong>
                Book already in inventory!
            </div>
        </div>
        <div class="row">
            <div class="alert alert-danger" id="alertFunds">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Stop! </strong>
                    Insufficient funds!
            </div>
        </div>
        <div class="row">
            <div class="alert alert-success" id="alertSucc">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Congratulations! </strong>
                    Enjoy your books!
            </div>
        </div>
        <div class="row">
            <table class="table">
                <tr>
                    <th>Author
                    </th>
                    <th>Title
                    </th>
                    <th>Pages
                    </th>
                    <th>Publication
                    </th>
                    <th>Release_year
                    </th>
                    <th>Quantity
                    </th>
                    <th>Genre
                    </th>
                    <th>Price
                    </th>
                    <th>Buy
                    </th>
                    <th>Borrow
                    </th>
                </tr>
                <tr ng-repeat="book in books" ng-model="books">
                    <td>
                        {{book.author}}
                    </td>
                    <td>
                        {{book.title}}
                    </td>
                    <td>
                        {{book.pages}}
                    </td>
                    <td>
                        {{book.publication}}
                    </td>
                    <td>
                        {{book.release_year}}
                    </td>
                    <td>
                        {{book.quantity}}
                    </td>
                    <td>
                        {{book.genre}}
                    </td>
                    <td>
                        {{book.price}}
                    </td>
                    <td>
                        <input type="button" value="Buy" class="btn btn-primary" ng-click="buy(book.catalogid)"/>
                    </td>
                    <td>
                        <input type="button" value="Borrow" class="btn btn-primary" ng-click="borrow(book.catalogid)"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
